<mat-card fxLayout="column">

    <div class="discount-form__title" fxFlex="0 1 auto">
        <h3>{{ discount?.name }}</h3>
    </div>

    <div fxFlex="0 1 100%">
        <p class="discount-details__prop-title">Description</p>
        <p class="discount-details__prop">{{ discount?.description }}</p>
        <p class="discount-details__prop-title">Discount</p>
        <p class="discount-details__prop">{{ discount?.amount }}</p>
    </div>

    <div class="discount-form__actions" 
         fxFlex="0 1 auto"
         fxLayout="row" 
         fxLayoutGap="8px">
        <button mat-raised-button color="accent" type="button" (click)="onBack()">
            Back<mat-icon>keyboard_return</mat-icon>
        </button>
        <button mat-raised-button color="primary" type="button" (click)="onEdit()">Edit</button>
    </div>

</mat-card>