mat-card {
    height: 100%;
}

.discount-form__title {
    border-bottom: 1px solid #E0E0E0;
}

.discount-form__title h3 {
    margin-top: 0px;
}

.discount-form__actions {
    padding-top: 1rem;
}

.discount-details__prop-title {
    font-weight: bold;
}

.discount-details__prop {
    font-size: 0.8rem;
}