.event-item {
    height: 200px;
    margin: 16px;
}

.event-item__highlight:active,
.event-item__highlight:hover {
    cursor: pointer;
    background-color: rgb(250, 250, 250, 5);
    box-shadow: 1px 1px 1px 1px rgb(122, 122, 122, 5);
}