<mat-card class="event-item__highlight">
    <mat-card-header>
        <mat-card-title>{{ event.name }}</mat-card-title>
    </mat-card-header>
    <img src="{{ event.imgPath }}">
    <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="center">
            <div class="details-item">
                <mat-icon>location_on</mat-icon>
                <p>{{ event.city }}</p>
            </div>
            <div class="details-item">
                <mat-icon>calendar_today</mat-icon>
                <p>{{ event.startDate | date:'dd.MM.yyyy' }}</p>
            </div>
            <div class="details-item">
                <mat-icon>access_time</mat-icon>
                <p>{{ event.startDate | date:'shortTime' }}</p>
            </div>
            <div class="details-item">
                <mat-icon>attach_money</mat-icon>
                <p>{{ event.price }}</p>
            </div>
            <div class="details-item" *ngIf="event.people">
                <mat-icon>group</mat-icon>
                <p>{{ event.people }}</p>
            </div>
        </div>
    </mat-card-content>
</mat-card>