<mat-accordion [multi]="true">
    <form [formGroup]="eventForm"
          (ngSubmit)="onSave()"
          fxLayout="column" fxLayoutGap="0.5rem">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Main event information</mat-panel-title>
            </mat-expansion-panel-header>
            <div gdAuto="row" 
                 gdColumns.gt-xs="50% 50%" 
                 gdGap.gt-xs="0.5rem">
                <mat-form-field gdColumn.gt-xs="span 2">
                    <mat-label>Event name</mat-label>
                    <input matInput formControlName="evName">
                </mat-form-field>
                <mat-form-field gdColumn.gt-xs="span 2">
                    <mat-label>Location</mat-label>
                    <input matInput formControlName="evLocation">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="evDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>                  
                <mat-form-field>
                    <mat-label>Hour</mat-label>
                    <input matInput type="time" formControlName="evHour">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Price</mat-label>
                    <input matInput type="number" formControlName="evPrice">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Places</mat-label>
                    <input matInput type="number" formControlName="evPrice">
                </mat-form-field>
                <mat-form-field gdColumn.gt-xs="span 2">
                    <mat-label>Image</mat-label>
                    <input matInput formControlName="evImgPath">
                </mat-form-field>
                <mat-form-field gdColumn.gt-xs="span 2">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="evDescription"></textarea>
                </mat-form-field>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Discounts</mat-panel-title>
            </mat-expansion-panel-header>
            <div formArrayName="discounts" *ngFor="let discount of getDiscounts(); let i=index">
                <mat-checkbox [formControlName]="i">{{ discounts[i].summary }}</mat-checkbox>
            </div>
        </mat-expansion-panel>
        <button mat-button type="submit" color="accent">Save</button>
    </form>
</mat-accordion>
<p>{{ eventForm.value | json}}</p>