<form [formGroup]="discountForm" (ngSubmit)="onSave()">

    <mat-card fxLayout="column">
            
            <div class="discount-form__title" fxFlex="0 1 auto">
                <h3>Discount definition</h3>
            </div>

            <div fxFlex="0 1 100%" gdAuto="row" gdGap="16px" gdColumns="auto 0.2fr">
                <mat-form-field gdColumn="span 2">
                    <mat-label>Summary</mat-label>
                    <input matInput formControlName="summary">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Amount</mat-label>
                    <input matInput type="number" formControlName="amount">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Unit</mat-label>
                    <mat-select formControlName="amountUnit">
                        <mat-option *ngFor="let unit of amountUnitOptions" [value]="unit">{{ unit }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field gdColumn="span 2">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field>
            </div>

            <div class="discount-form__actions" fxFlex="0 1 auto">
                <button mat-raised-button color="accent" type="submit" gdGridAlign="start">Save</button>
            </div>
            
    </mat-card>

</form>