<app-header (sidenavToggled)="sidenav.toggle()"></app-header>

<mat-sidenav-container style="height: 100%;">

    <mat-sidenav #sidenav 
                 class="container" 
                 [mode]="isMobileScreen ? 'over' : 'side'"
                 [opened]="!isMobileScreen">
        <div class="sidenav-links__container">
            <button *ngFor="let sidenavLink of dataSource"
                    class="sidenav-links__button"
                    mat-button
                    (click)="navigate(sidenavLink.link)">
                {{ sidenavLink.name }}
            </button>
        </div>
    </mat-sidenav>

    <mat-sidenav-content class="container">
            <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>

