<div class="container">
    <mat-card class="event-item event-item__add">
        <mat-card-header>
            <mat-card-title>Add new event...</mat-card-title>
        </mat-card-header>
        <mat-card-actions class="event-item__add-actions">
            <button mat-button color="accent">Simple</button>
            <button mat-button color="accent">Advanced</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="event-item event-item__highlight">
        <mat-card-header>
            <mat-card-title>Event#1</mat-card-title>
        </mat-card-header>
    </mat-card>
    <mat-card class="event-item event-item__highlight">
        <mat-card-header>
            <mat-card-title>Event#2</mat-card-title>
        </mat-card-header>
    </mat-card>    
    <mat-card class="event-item event-item__highlight">
        <mat-card-header>
            <mat-card-title>Event#3</mat-card-title>
        </mat-card-header>
    </mat-card>
</div>


