<!-- <mat-sidenav-container class="example-container" *ngIf="shouldRun">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a mat-list-item href="#">Dashboard</a>
            <a mat-list-item href="#">Customizing</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-event-list 
            *ngIf="isEventList" 
            (addSimpleEvent)="addSimpleClicked()">
        </app-event-list>
        <app-event-edit *ngIf="!isEventList"></app-event-edit>
    </mat-sidenav-content>
</mat-sidenav-container> -->

<div class="container">
    <router-outlet></router-outlet>
</div>