<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="32px">
    <mat-card>
        <mat-card-actions style="padding: 0; margin: 0">
            <button mat-button color="accent" (click)="onAddSimpleClick()">Simple</button>
            <button mat-button color="accent">Advanced</button>
        </mat-card-actions>
    </mat-card>
    <div gdColumns="repeat(auto-fill, minmax(300px, 1fr))" gdGap="16px">
        <div *ngFor="let event of events">
            <app-event-item [event]="event"></app-event-item>
        </div>
    </div>
</div>